* {
  /* So 100% means 100% */
  box-sizing: border-box;
}

html, body
{
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

.align-left
{
	text-align: left;
}

.align-center
{
    text-align: center;
}

.align-right
{
	text-align: right;
}

.align-top
{
    vertical-align: top;
}

.align-middle
{
    vertical-align: middle;
}

.align-bottom
{
    vertical-align: bottom;
}
