.card-col-md-12
{
    width: 100%;
    float:left;
    padding: 10px;
}

.card-col-md-6
{
    width: 50%;
    float:left;
}

.card-col-md-3
{
    width: 33.3%;
    float:left;
    padding: 10px;
}

.card-col-md-2
{
    width: 15%;
    float:left;
}

.img-circle-photo
{
    float: left!important;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: #eff8ff;
    padding: 5px;
}

.img-circle-icon
{
    height: 15px;
    width: 15px;
    margin-bottom: -3px;
}

.card-box
{
    padding-top: 16px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid rgba(54, 64, 74, 0.05);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    background-color: #ffffff;
}

.content-top-action
{
    float:right;
    background-color: #b3b6b9;
    border-radius: 3px;
    height: 24px;
    width: 24px;
    padding-top: 4px;
    padding-left: 4px;
}

.content-bottom-action
{
    text-align: -webkit-center;
}

.button-edit
{
    background-image: url("../../../icons/pencil.png");
    background-repeat: no-repeat;
    padding: 0px 0px 0px 18px;
}

.content-member-info
{
    padding-left: 100px;
}

.text-title
{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 16px;
    margin-bottom: 8px;
    color: #505458;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-muted
{
    font-size: 14px;
    color: #98a6ad;
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.text-dark
{
    font-size: 14px;
    color: #797979 !important;
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.list-item-inline
{
    display: inline-flex;
    margin-left: -42px;
}

.social-item-links
{
    background: #EFF0F4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    line-height: 30px;
    height: 30px;
    width: 30px;
    margin: 5px;
    display: inline-block;
    list-style: none;
    text-align: center;
    color: #7A7676;
}
