#comment-input {
    width: 100%;
    min-height: 40px;
    border-color: #E1E1E1;
    border-radius: 3px;
    outline: none;
    line-height: 18px;
    resize: none
}

.x-comment-avatar {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 15px;
    float: left;
    background-size: cover;
}

.x-comment
{
    overflow: hidden;
}

#comment-list,
#comment-list-box {
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    list-style: none;
}

#comment-list > li,
#comment-list-box > li
{
    padding: 5px;
    border-bottom: 1px solid #ECECEC;
}
#comment-list > li{
    position: relative;
}

.x-comment-reply, .x-comment-delete {
    color: #718ABB;
}

.x-comment-reply:hover,
.x-comment-delete:hover
{
    color: #1e70bf;
}

.x-attachment-list {
    padding: 0px;
    list-style: none;
}

.x-attachment-list li {
    color: #676767;
    font-size: 13px;
    position: relative;
    margin-right: 5px;
    display: inline-block;
}

.x-attachment-list .x-delete {
    font-size: 12px;
    color: #D64969;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}

#backlog-files {
    margin: 0px;
    padding: 5px 10px 0px 10px;
}

#comment-files {
    padding: 0px;
    margin-top: -5px;
    margin-bottom: 5px;
}

#comment-files li {
    padding: 4px 3px 3px 3px;
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;

    color: #676767;
    font-size: 13px;
    position: relative;
}

#comment-files .x-delete
{
    font-size: 12px;
    color: #D64969;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}

.x-attachment img {
    width: 100px;
    height: 70px;
    border: 1px solid #E1E1E1;
}

#attachment-summary
{
    padding: 10px;
    margin: 0px;
    border-bottom: 1px solid #ECECEC;
}
