.confirm-content
{
    position: absolute;
    top: 50%;
    width: 360px;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
    background-color: #FFFFFF;
    border: 1px solid #ECECEC;
    transform: translateY(-50%);
    box-shadow: 0 5px 16px rgba(0,0,0,.5);
    border-radius: 6px;
}

.confirm-overlay
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: -webkit-center;
}

.confirm-title
{
    margin: 0;
}

.confirm-header
{
    height: 50px;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.confirm-body
{
    box-sizing: border-box;
    height: 50px;
    padding: 15px;
    text-align: left;
}

.confirm-footer
{
    padding: 15px;
    height: 50px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.confirm-btn-ok
{

}

.confirm-btn-cancel
{

}
