.field input
{
    width: 100%;
}

.form-field-value input,
.form-field-value select,
.form-field-value textarea
{
    font-size: 12px;
}

.form-type-search input[value=""]
{
    background-image: url("/icons/search.png");
    background-repeat: no-repeat;
    background-position: center right;
}

input[type='search']::-webkit-search-cancel-button{
    margin-top: -1px;
}
