.grid-panel
{

}

.grid-header-wrapper
{
	overflow-y: scroll;
	overflow-x: hidden;
}

.grid-header-wrapper::-webkit-scrollbar
{
	display: block;
}

.grid-header-wrapper::-webkit-scrollbar-button
{
	display: none;
}

.grid-header
{
	overflow: hidden;
	width: 100%;
}

.grid-header
{
	border-collapse: collapse;
}

.grid-header th
{
	color: #000000;
	cursor: pointer;
	padding: .5em;
	white-space: nowrap;
	font-size:12px;
	font-weight: normal;
	border-right: 1px solid lightgray;
	background-color: #F5F5F5;
}

.grid-header th:last-child
{
	border-right: none;
}

.grid-header-wrapper
{
	border-bottom: 1px solid lightgray;
}

.grid-body-wrapper
{
	overflow: auto;
	overflow-x: auto
}

.grid-body
{
	overflow: hidden;
	min-width: 100%;
}

.grid-header-wrapper,
.grid-body-wrapper
{

}

.grid-body-wrapper,
.grid-body-wrapper tr:first-child
{
	border-top: none;
}

.grid-header,
.grid-body
{
	border-collapse: collapse;
}

.grid-body td
{
	white-space: nowrap;
}

.x-toolbar a
{
	color: #5A5A5A;
}

.grid-panel td a,
.grid-panel td a:visited
{
	text-decoration: none;
}

.grid-panel td
{
	padding: 0px 5px;
	color: #565656;
}

a:-webkit-any-link
{
	color: #565656;
}

.grid-body > tbody > tr
{
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.grid-body > tbody > tr {
	cursor: pointer;
    -webkit-user-select: none;
}

.grid-body > tbody > tr:hover
{
    background-color: #F9F9F9;
}

.grid-body > tbody > tr.x-selected {
    background-color: #F4F4F4;
}

.grid-body > tbody > tr > td
{
	height: 30px;
}
