.form-field-lookup input
{
    cursor: pointer;
    color: #4092fa;
    text-decoration: underline;
}

.x-dialog
{
    max-height: 100%;
}

.lookup-dialog
{
    width: 600px;
    position: absolute;
    max-height: 100%;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
    background-color: #FFFFFF;
    border: 1px solid #ECECEC;
    transform: translateY(-50%);
}

.lookup-dialog > .x-panel
{
    overflow: hidden;
}

.lookup-dialog .panel-header
{
    padding: 10px;
}

.form-field-lookup{
    position: relative;
}

.lookup-clear
{
    background-image: url(https://cdn2.iconfinder.com/data/icons/simple-microphone-icon/512/Cancel_Icon-16.png);
    background-image: url(https://cdn2.iconfinder.com/data/icons/arrows-and-universal-actions-icon-set/256/cancel_circle-16.png);
    background-image: url(https://cdn4.iconfinder.com/data/icons/outline-style-1/512/cancel-16.png);
    background-image: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_close_48px-16.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 12px;
    outline: none;
    font-size: 12px;
    margin: 0;
    width: 14px;
    height: 14px;
    line-height: 3px;
    cursor: pointer;
    margin-left: 6px;
    position: absolute;
    top: 4px;
    right: 5px;
    background-color: transparent;
}

.search-field-lookup input[type="search"] {
    border-radius: 8px;
    height: 24px;
    margin-top: 2px;
    width: 32%;
    margin-bottom: -28px;
    margin-top: 4px;
    margin-right: 438px;
}
