.search-field-customer input[type="search"]{
    border-radius: 8px;
    height: 24px;
    margin-top: 2px;
    width: 18%;
    margin-bottom: -28px;
    margin-top: 4px;
    }


.search-field-single-customer input[type="search"]{
border-radius: 8px;
height: 24px;
margin-top: 2px;
width: 100%;
margin-bottom: -28px;
margin-top: 4px;
}
