.x-tab-stripe
{
    padding: 0;
    margin: 0;
    border: 1px solid ligthgray;
}

.x-tab-stripe li
{
    display: inline-block;
}

.x-tab-stripe li a
{
    color: black;
    padding: 8px 12px;
    display: block;
    text-decoration: none;
}

.x-tab-stripe li.x-active a
{
    color: #337AB7;
}

.x-tab
{
    padding: 5px;
    border: 1px solid lightgray;
}
