#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: fixed;
    z-index: 1;
    left: 39%;
    top: 35px;
    font-size: 12px;
}

#snackbar p{
    margin: 5px 30px;
}

#background-image{
    position: absolute;
    left: 10px;
    padding: 13px 12px;
    background-repeat: no-repeat;
}
#snackbar.show {
    visibility: visible;
    // -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    // animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 89%; opacity: 0;}
    to {bottom: 89%; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 89%; opacity: 0;}
    to {bottom: 89%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 89%; opacity: 1;}
    to {bottom: 89%; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 89%; opacity: 1;}
    to {bottom: 89%; opacity: 0;}
}

.toast-close
{
    background: rgb(223, 240, 216);
    color: rgb(70, 136, 71);
    background-color: transparent;
    border: 1px solid #C5E1A5;
    border-radius: 12px;
    outline: none;
    font-size: 12px;
    margin: 0;
    width: 20px;
    height: 20px;
    line-height: 6px;
    cursor: pointer;
    margin-left: 5px;
    position: absolute;
    top: 2px;
    right: 5px;
}
