.x-dialog .x-footer
{
    padding: 10px;
    border-top: 1px solid lightgray;
}

.x-toolbar .hbox-r
{
    text-align: right;
}


.x-dialog .x-footer
{
    padding: 10px;
    border-top: 1px solid lightgray;
}

.x-toolbar .hbox-r
{
    text-align: right;
}

.x-toolbar > *
{
    display: inline-block;
    margin-right: 10px;
}

.x-toolbar .form-field
{
    margin: 0px;
}

.x-toolbar .separator
{
    padding: 8px 1px;
    background-color: #e8e8e8;
    vertical-align: middle;
}

.dialog-footer
{
    button+button
    {
        margin-left: 5px;
    }
}

.x-toolbar .button-clear-filter
{
    background-image: url(/icons/delete-bk.png);
}
