body
{
	font-size: 14px;
	font-family: arial;
}

#login
{
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	height: 200px;
	background: url(/images/logo2.png) no-repeat center center;
	background-size: contain;
}

#login-buttons {
    display: inline-block;
    margin-right: 0.2px;
    line-height: 1;
}

#login-buttons .login-link-and-dropdown-list {
    position: relative;
}

#login .login-link-text, #login .login-close-text {
    display: none;
}

#login #login-dropdown-list {
    position: relative;
}

.login-form {
    overflow: hidden;
}

#main-content
{
	border-top: 1px solid #D0D0D0;
}
