.divCalendar {
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    }

  //   body {
  // margin-top: 40px;
  // text-align: center;
  // font-size: 14px;
  // font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  //
  //
  // h1 {
  //   font-size: 35px;
  //   margin-bottom: 30px;
  // }

	// #app {
	// 	width: 1100px;
	// 	margin: 0 auto;
	// }

	#external-events {
		float: left;
		width: 150px;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
	}

	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
	}

	#external-events .fc-event {
		margin: 10px 0;
		cursor: pointer;
	}

	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
	}

	#external-events p input {
		margin: 0;
		vertical-align: middle;
	}

	#calendar {
		float: right;
        margin-top: -41px;
		//width: 900px;
	}
