.color-red-contact{
	background: #2196F3;
}
.color-DarkGray-contact
{
	background: #A9A9A9;
}
.circle-contact {
	width: 10px;
	height: 10px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	 vertical-align: top;
	 display: inline-block;
	 margin: 4px 10px 0 0;
}

.contact-toolbar
{
    float: right;
    margin: -21px 10px 0 0;
	vertical-align: top;
    display: inline-block;
}
.contact-toolbar-new
{
	float: right;
	vertical-align: top;
	display: inline-block;
	margin: 4px 9px 0 179px;
}

.contact-text
{
    vertical-align: -webkit-baseline-middle;
    margin-left: 4px;
    margin: -16px 13px 1px 15px;
}

.contact-div
{
  display: inline;
}
