.contract-field div {
    margin-left: 6px;
    margin-right: -65px;
    width: 254px;
}
.contract-label {
   margin-left: 12px;
}

.contract-date  {
    margin-left: 81px;
    margin-right: 95px;
}

.contract-field-column-three div {
    margin-left: -83px;
    margin-right: 29px;;
}
