.form-field-label
{
    max-width: 200px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
.panel-header + .panel-body {
    padding: 0px;
}

.contact-item
{
    padding: 3px;
    overflow: hidden;
    border-bottom: 1px solid #D0D0D0;
    border-left: 1px solid #D0D0D0;
}

.contact-customer-item-title
{
    padding: 3px;
    overflow: hidden;
    border-bottom: 1px solid #D0D0D0;
    border-left: 1px solid #D0D0D0;
    border-top: 1px solid #D0D0D0;

}

.contact-item+.stip-item
{
    border-top: 1px solid lightgray;
}

.contact-text
{
    vertical-align: -webkit-baseline-middle;
    margin-left: 4px;
    margin: -16px 13px 1px 15px;
}
.contact-customer-title
{
    vertical-align: -webkit-baseline-middle;
    font-size: 18px;
    color: #004990;
    margin:4px;
}

.contact-toolbar
{
    float: right;
    margin: -21px 10px 0 0;
}

.contact-toolbar button
{
    opacity: 0.8;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.contact-toolbar button > *
{
    vertical-align: middle;
}

.contact-toolbar .button-text
{
    color: gray;
    font-size: 14px;
}

.contact-toolbar button:hover
{
    opacity: 1;
}

.icon-contact-dealer
{
    background-image: url(/icons/new-dealer.png);
    padding: 0px 10px 10px 10px;
    background-repeat: no-repeat;
}

.edit-icon-contact
{
    background-image: url(/icons/edit.png);
    padding: 0px 10px 10px 10px;
    background-repeat: no-repeat;
}

.customer-icon-contact
{
    background-image: url(/icons/client.png);
    padding: 1px 10px 10px 17px;
    background-repeat: no-repeat;
}

.delete-icon-contact
{
    background-image: url(/icons/delete.png);
    padding: 0px 10px 10px 10px;
    background-repeat: no-repeat;
}

.field-customer-coll1 input[type="text"] {
    margin-left: -39px;
    white-space: normal;
    width: 210px;
}

.field-customer select {
    margin-right: 17em;
}

.field-customer input[type="text"] {
    margin-left: -39px;
    white-space: normal;
    width: 232px;
}

.field-customer-coll1 select {
    margin-left: -1px;
    margin-right: 15em;
}
