.check-text-checkmark
 {
    margin: 10px 5px 10px 10px;
    left:11px;
    top:0px;
    position: absolute;
 }
 .check-checkmark {
     display:inline-block;
     width: 22px;
     height:22px;
     margin-bottom: -3px;
     -ms-transform: rotate(45deg); /* IE 9 */
     -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
     transform: rotate(45deg);
 }

 .check-checkmark-stem {
     position: absolute;
     width: 3px;
     height: 13px;
     left: 13px;
     top: 6px;
 }

 .check-checkmark-background-red
 {
   background-color: red;
 }
 .check-checkmark-background-green
 {
   background-color: green;
 }

 .check-checkmark-kick {
    position: absolute;
    width: 6px;
    height: 3px;
    left: 8px;
    top: 16px;

 }
