.history
{
    padding: 5px 10px;
    border: 1px solid lightgray;
}

.history {

    .history-user {
        color: rgb(103, 103, 103);
    }
    span{
        color: rgb(177, 177, 177);
        font-size: 13px;
        margin: 10px 4px 0px 0px;
    }
}
