.vox-purchases{
    padding: 10px
}
.vox-purchases .form-field{
    margin-bottom: 0px;
    margin-right: 10px;

}

.hbox-purchases-column .form-field-label.hbox-l {
    margin-right: 8px;
    font-size: 12px;
}

.border-puchase-detail {
    border: 1px solid lightgray;
    margin-left: -15px;
    margin-top: -15px;
    margin-right: -16px;
}

.purchase-width-column1
{
  margin-right: 12px;
  margin-left: -73px;
  text-align: right;
  font-weight: bold;
  width: 470px;
}

.purchase-width-column2
{
  margin-right: 12px;
  margin-left: -102px;
  text-align: right;
  font-weight: bold;
  width: 470px;
}

.purchase-width-column3
{
   margin-right: 12px;
   text-align: right;
   margin-left: -85px;
   font-weight: bold;
   width: 470px;

}

.purchase-width-column4
{
  text-align: right;
  margin-right: 12px;
  margin-left: -72px;
  font-weight: bold;
  width: 470px;
}

.purchase-width-column-in
{
  margin-right: 73px;
  margin-left: -19px;
  text-align: right;
  font-weight: bold;
  width: 470px;
}

.purchase-width-column-out
{
  margin-right: 73px;
  margin-left: -112px;
  text-align: right;
  font-weight: bold;
  width: 470px;
}

.purchase-width-column-detail
{
    margin-right: -15px;
    margin-left: -234px;
    width: 804px;
}

.purchase-coulmn-note
{
    margin-left: -81px;
    text-align: right;
    margin-right: 617px;
}


.purchase-input-date .form-field-value input[type=date]
 {
   width: 185px;
   font-size: 12px;
 }

 .purchase-Out-input-date .form-field-value input[type=date]
 {
   width: 151px;
   font-size: 12px;
 }

 .purchse-button-status
 {
    margin-left: 677px;
 }

.status-approved,
.status-draft,
.status-new {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0px;
  text-align: Center;
  display: block;
  text-transform: uppercase;
}

.purchase-order-amount
{
  font-size: 24px;
  font-weight: bold;
  margin-top: 2px;
  text-align: Center;
  display: block;
  text-transform: uppercase;
}

.status-approved {
  color:#22B14C;
}

.status-draft{
  color:#FFC20E;
}

.status-new {
  color: #FF0000;
}

.purchase-detail-dialog-column
{
  margin-left: -51px;
  margin-top: 12px;
  text-align: right;
  font-weight: bold;
  width: 430px;
}

.attach-icon-return-invoice-purchase-detail
{
    background-image: url(/icons/attach-bk.png);
    padding: 6px 10px 10px 17px;
    background-repeat: no-repeat;
    margin-left: 4px;
}

.attach-icon-RMA-purchase-detail
{
    background-image: url(/icons/attach-bk.png);
    padding: 5px 10px 10px 17px;
    background-repeat: no-repeat;
    margin-left: 3px;
}

.attach-icon-POD-purchase-detail
{
    background-image: url(/icons/attach-bk.png);
    padding: 5px 10px 10px 45px;
    background-repeat: no-repeat;
    margin-left: 3px;
}

.purchase-detail-dialog-column2
{
    margin-left: -66px;
    margin-top: 12px;
    text-align: right;
    font-weight: bold;
    width: 290px;
}
.attach-title-purchase-detail
{
    font-size: 20px;
    margin-left: 39px;
    font-weight: bold;
    color: teal;
}

.attach-item-return-invoice-purchase-detail
{
    font-size: 12px;
    margin-left: 0px;
    font-weight: bold;
    margin-top: 4px;
    margin-right: 110px;
}

.attach-item-RMA-purchase-detail
{
  font-size: 12px;
  margin-left: -121px;
  font-weight: bold;
  margin-top: 3px;
  margin-right: 173px;
}

.attach-item-POD-purchase-detail
{
  font-size: 12px;
  margin-left: -121px;
  font-weight: bold;
  margin-top: 97px;
  margin-right: 206px;
}

.attach-left-text-purchase-detail
{
  margin-left: 54px;
  margin-right: 2px;
}

.attach-span-right-text-purchase-detail
 {
   margin-right: -45px;
 }

.button-Out-margin-purchase-detail
 {
    margin-top: -55px;
    margin-left: -6px;
    margin-right: -110px;
 }

 .font-weight-text-purchase-detail
 {
   font-weight: bold;
 }

 .note-purchase-order{
    margin-top: 7px;
    /* margin-right: -168px; */
    width: 638px;
    height: 38px;
}

.middle-width-middle-column
{
	width: 50%;
}

.middle-width-quarter-column
{
	width: 25%;
}

.div-second-tool-bar
{
    height: 33px;
}

.text-aling-second-tool-bar
{
    text-align: center;
    margin-top: 8px;
    font-size: 18px;
    color: #004990;
}
