.vox-reception-equipment{
    padding: 10px
}
.vox-reception-equipment .form-field{
    margin-bottom: 0px;
    margin-right: 10px;

}

.hbox-reception-equipment-column .form-field-label.hbox-l {
    margin-right: 8px;
    font-size: 12px;
}

.reception-equipment-input-date .form-field-value input[type=date]
 {
   width: 260px;
   font-size: 12px;
 }

.border-reception-equipment
{
    border-right: 1px solid lightgray;
    margin-left: -15px;
    margin-top: -15px;
    margin-right: -16px;
}

.form-field-quantity-right
{
    text-align: right;
}

.hbox-reception-equipment-column .form-field-label.hbox-l {
    margin-right: 8px;
    font-size: 12px;
}

.reception-equipment-width-column-1
{
	margin-right: 12px;
	margin-left: -151px;
	text-align: right;
	font-weight: bold;
	width: 470px;
	font-size: 12px;
}

.reception-equipment-width-column-2
{
  margin-right: 12px;
  margin-left: -79px;
  text-align: right;
  font-weight: bold;
  width: 520px;
  font-size: 12px;
}

.reception-equipment-width-column-3
{
   margin-right: 12px;
   text-align: left;
   margin-left: 0px;
   font-weight: bold;
   width: 470px;
   font-size: 12px;
}

.reception-equipment-margin-label .label
{
	margin-right: 7px;
}

.width-quantity-previous
{
  width: 50px;
}

.width-serialNumber-previous
{
  width: 120px;
}

.option-checked-tool-bar
{
    margin-top: 8px;
    margin-left: 9px;
}
