.vox-service-order{
    padding: 10px
}
.vox-service-order-equipment .form-field{
    margin-bottom: 0px;
    margin-right: 10px;

}

.hbox-service-order-column .form-field-label.hbox-l {
    margin-right: 8px;
    font-size: 12px;
}

.service-order-input-date .form-field-value input[type=date]
 {
   width: 263px;
   font-size: 12px;
 }

.border-service-order
{
    border-right: 1px solid lightgray;
    margin-left: -15px;
    margin-top: -15px;
    margin-right: -16px;
}

.form-field-quantity-right
{
    text-align: right;
}

.hbox-service-order-column .form-field-label.hbox-l {
    margin-right: 8px;
    font-size: 12px;
}

.service-order-width-column-1
{
	margin-right: -60px;
	margin-left: -96px;
	text-align: right;
	font-weight: bold;
	width: 470px;
	font-size: 12px;
}

.service-order-width-column-2
{
  margin-right: 12px;
  margin-left: -79px;
  text-align: right;
  font-weight: bold;
  width: 470px;
  font-size: 12px;
}

.service-order-width-column-3
{
   margin-right: 12px;
   text-align: right;
   margin-left: -86px;
   font-weight: bold;
   width: 470px;
   font-size: 12px;
}

.service-order-margin-label .label
{
	margin-right: 7px;
}

input.service-inputGrid {
    width: 30px;
    background-color: #f5f5f5;
    display: block;
}
