.technician-reception-equipment-item-title
{
    padding: 3px;
    overflow: hidden;
    border: 1px solid #D0D0D0;

}

.technician-reception-equipment-icon-contact
{
    background-image: url(/icons/client.png);
    padding: 1px 10px 10px 20px;
    background-repeat: no-repeat;
}

.technician-reception-equipment-title
{
    vertical-align: -webkit-baseline-middle;
    font-size: 18px;
    color: #004990;
    margin:4px;
}

.technician-reception-equipment
{
    background-image: url(/icons/new-dealer.png);
    padding: 0px 10px 10px 10px;
    background-repeat: no-repeat;
}

.technician-reception-equipment-toolbar-new
{
    float: right;
    vertical-align: top;
    display: inline-block;
    margin: 4px 9px 0px 0px;
}

.technician-reception-equipment-circle
{
    width: 12px;
    height: 12px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 4px;
}

.technician-reception-equipment-color-red
{
	background: #2196F3;
}

.technician-reception-equipment-color-DarkGray
{
	background: #A9A9A9;
}

.technician-reception-equipment-text
{
    vertical-align: -webkit-baseline-middle;
    margin-left: 4px;
    margin: -16px 13px 1px 15px;
}

.technician-item
{
    padding: 10px;
    overflow: hidden;
    border: 1px solid #D0D0D0;
    height: 30px;
}
