.btn {
    display: inline-block;
    padding: 1px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary
{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

// <div className="hbox-l">
//       <button type="button" className="btn btn-primary">Guardar</button>
//  </div
