#main-container
{
    #main-nav
    {
        width: 220px;
    }

    #main-content
    {
        position: relative;
        overflow: hidden;
        overflow-y: auto;
    }

    #main-aside
    {
        background-color: limegreen;
    }
}


.wrapper
{
	margin: auto;
}
