/* demo page styles */
.menu-background {
    position:relative;
    position: relative;
    border: 1px rgba(0, 0, 0, 0) solid;
    //background-color: #205081;
    background-color: #828990;
    z-index: 1;
    margin-left: 7px;
}

/* main menu styles */

.nav,.nav ul {
    list-style:none;
    margin:0;
    padding:0;
}

.nav {
    position:relative;
}

.nav ul {
    height:0;
    left:0;
    overflow:hidden;
    position:absolute;
    top:29px;
}

.nav li {
    float:left;
    position:relative;
}

.nav li a {
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -webkit-transition:0.5s;
    //background-color:#205081;
    background-color: #828990
    border:0px solid #6E67A6;
    color:#FFF;
    display:block;
    font-size:14px;
    line-height:19px;
    padding:5px 5px;
    text-decoration:none;
    transition:0.5s;
}

.nav li:hover > a {
    background:#a1a3a5;
    //border-color:#a1a3a5;
    border-color: #828990
    color:#fff;

}

.nav li:hover ul.subs {
    height:auto;
    width:180px;
}
// .nav  ul li.has-sub > a:after {
//   content: '»';
//   position: absolute;
//   right: 1em;
// }

.nav ul li {
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -webkit-transition:0.5s;
    opacity:0;
    transition:0.5s;
    width:100%;
}

.nav li ul li {
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
    -webkit-transition-delay:0s;
    transition-delay:0s;
}

.nav li:hover ul li {
    opacity:1;
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
    -webkit-transition-delay:0s;
    transition-delay:0s;
}

.nav ul li a {
    //background:#205081;
    background:#828990;
    border-color:#6E67A6;
    color:#fff;
    line-height:1px;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -webkit-transition:0.5s;
    transition:0.5s;
}

.nav li:hover ul li a {
    line-height:15px;
}

//icon-navegation
.item-icon-setting
{
    background-image: url(/icons/setting.png);
    padding: 7px 15px 10px 15px;
    background-repeat: no-repeat;
}
.item-icon-technicians
{
    background-image: url(/icons/ingenieros.png);
    padding: 4px 10px 10px 14px;
    background-repeat: no-repeat;
}

.item-icon-protocol
{
    background-image: url(/icons/protocol.png);
    padding: 1px 10px 10px 14px;
    background-repeat: no-repeat;
}

// .item-icon-technicians:hover
// {
//  background-image: url(/icons/ingenierosHover.png);
//  padding: 1px 10px 10px 13px;
//  background-repeat: no-repeat;
// }

// .item-icon-purchase:hover
// {
//  background-image: url(/icons/purchase.png);
//  padding: 1px 10px 10px 10px;
//  background-repeat: no-repeat;
// }

.item-icon-purchase
{
    background-image: url(/icons/purchase.png);
    padding: 3px 10px 10px 14px;
    background-repeat: no-repeat;
}

.item-icon-service
{
    background-image: url(/icons/service.png);
    padding: 1px 10px 10px 14px;
    background-repeat: no-repeat;
}

.item-icon-customer
{
    background-image: url(/icons/customer.png);
    padding: 4px 14px 12px 14px;
    background-repeat: no-repeat;
}

.item-icon-contract
{
    background-image: url(/icons/contract.png);
    padding: 1px 10px 10px 14px;
    background-repeat: no-repeat;
}

.item-icon-receptionEquipment
{
    background-image: url(/icons/receptionEquipment.png);
    padding: 2px 10px 10px 14px;
    background-repeat: no-repeat;
}

.submenu-icon
{
    background-image: url(/icons/detail.png);
    padding: 4px 10px 10px 14px;
    background-repeat: no-repeat;
}

.nav ul li a:hover {
    background:#a1a3a5;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(-90deg,rgba(255,255,255,0.5),rgba(255,255,25,0));
}

.user-name span img {
    width: 2%;
    display: inline-block;
    border-radius: 50%;
    image-rendering: -webkit-optimize-contrast;
   /* position: absolute; */
  }
.user-name-span {
    background-color: transparent;
    color: #FFF;
    display: inherit;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    //font-weight: bold;
    height: 28px;
    line-height: 28px;
    padding: 0 10px 1px;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    margin-top: -1px;
    white-space: nowrap;
    position: relative;
    border: -11px rgba(0, 0, 0, 0) solid;
    //background-color: #205081;
    background-color: #828990;
    z-index: 2;
    width: 101%;
}

.user-name {
    top: 50%;
    z-index: 1;
    -webkit-transform: translateY(2%);
    /* transform: translateY(3%); */
    text-align: right;
    color: gray!important;
    line-height: 28px;
    font-size: 14px;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    //font-weight: bold;
    height: 27px;
    padding: 0 10px 1px;
}

img {
    max-width: 100%;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

.user-menu .user-name {
    transition: 0.2s;
}

.user-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 25px;
    top: 9px;
    vertical-align: top;
    padding-left: 25px;
    margin-left: 25px;
}
