@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url('/fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url('/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 100;
  src: url('/fonts/Lato-Hairline.ttf') format('truetype');
}
