#main-header {
    font-size: 16px;
    position: relative;
}

#main-header .wrapper {
    padding: 0px 50px;
    position: relative;
}

.wrapper {
    margin: auto;
}

.x-brand {
    display: table;
}

.x-brand a, .x-brand img {
    display: table;
    margin-right: -23px;
    margin-left: -21px;
    margin-bottom: 0px;
    width: 160px;
}
.x-brand img{
    padding: 5px;
}

.log-off, .avatar{
    top: 50%;
    z-index: 1;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: right;
    color: gray!important;
    font-size: 14px;
}

.log-off
{
    right: 5%;
    .avatar
    {
        padding:5px;
    }
    p
    {
        font-size: 17px;
        margin: 0px;
    }
    a{
        color: gray!important;
     }
}

th div {
    font-weight: bold;
    //background: white;
}

.header-ttitel-edit
{
    text-align: center;
    display: inline;
    padding-left: 278px;
    font-size: 18px;
    color: #004990;
}
