#menu{
	width: 200px;
	border-top: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
}

#menu ul{
	list-style:none;
	margin-top:0;
	padding:0
}
#menu ul li{border-bottom: 1px solid #EBEBEB}
#menu ul li a{
	color:#004990;
	font-size:14px;
	display:block;
	padding:8px 0 8px 7px;
	text-decoration:none;
	font-weight: 600;
}
#menu ul a i{
	margin-right:10px;
	font-size: 14px;
	font-weight: bold;
	color:#004990;
}

#menu li ul a:hover,#menu ul a.active {
	background-color:#205081;
	border-left-color: #ff6347;
	color:#FFFFFF;
	border-left:4px solid #ff0000;
}

#menu ul li a.active {
	background: #205081;
	color: #ffffff;
	border-left: 4px solid #ff0000;
}
/* /Submenu */

/* Cuando este a la Izq, para esconderlo posicionarlo a la Izq a -width */
.left{left:-280px;}
.show{left:0;}

#showmenu {
	margin-left:100%;
	position:absolute;
	top:0;
	padding:6px 10px 7px 10px;
	font-size:1.3em;
	color:#FFCC33;
	pointer-events: none;
}

#setting
{
	background-repeat: no-repeat;
	//background-position: 15px center;
}

.icon-collapsed a:after {
	color: #99a9c1;
	content: "\25BC";
	font-family: monospace;
	margin-left: 44px;

}
.submenu-icon-nav a
{
    background-image: url(/icons/detail.png);
	background-repeat: no-repeat;
	padding-left: 30px!important;
	font-weight: 300!important;
	margin-left: 10px;
}


.icon-expanded a:after
{
	color: #99a9c1;
	content: "\25BC";
	font-family: monospace;
	margin-left: 44px;
	transform: rotate3d(20deg);
	display: inline-block;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.clear { clear:both }
#hover .dropdown:hover > ul.dropdown-menu,
#click .dropdown-toggle:focus + ul.dropdown-menu{
  display:block;
}

img {
    max-width: 100%;
}

img {
    border: 0;
}

.user-menu .user-name {
    transition: 0.2s;
}

.user-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 25px;
    top: 9px;
    vertical-align: top;
    padding-left: 25px;
    margin-left: 25px;
}

#container{padding: 50px;}
