.report-div
{
    margin-left: 0px;
    background-color: #828990;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.iframe-report
{
  margin-left: 164px;
  margin-right: -15px;
  background-color: #fff;
  width: 76%;
  height: 94%;
  display: block;
  // width: auto;
  // height: auto;
  overflow: visible;
 }

.page-margin-report
{
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 22px;
}

.rr-header
{
    margin-left: 28px;
    margin-right: 28px;
    width: 857px;
}


#react-root
{
   overflow-y: auto;
}
