#main-toolbar
{
	padding: 5px;
	border: 1px dotted gray;
	background-color: #F3F3F3;
}

.x-toolbar
{
	font-size: 14px;
	border-bottom: 1px solid #D0D0D0;
	min-height: 27px;
}

.x-toolbar a
{
	padding: 5px 0px;
	margin: 0px 5px;
	padding-left: 30px;
    display: inline-block;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left center;
}

.x-toolbar .button-new {
    background-image: url(/icons/button-icon.png);
}

.x-toolbar .button-disabled {
		background-image: url(/icons/button-icon.png);
		pointer-events: none;
		cursor: not-allowed;
		opacity: .85;
		filter: alpha(opacity=65);
		-webkit-box-shadow: none;
		box-shadow: none;
}

.x-toolbar .button-add
{
	background-image: url(/icons/add.png);
}

.x-toolbar .button-add-new {
    background-image: url(/icons/new.png);
}

.x-toolbar .button-edit {
    background-image: url(/icons/edit4.png);
}

.x-toolbar .button-view {
    background-image: url(/icons/view.png);
}

.x-toolbar .button-history {
    background-image: url(/icons/history.png);
}
.x-toolbar .button-close {
    background-image: url(/icons/close.png);
}
.x-toolbar .button-close-report {
    background-image: url(/icons/close.png);
	color: #fff;
}

.x-toolbar .button-save-close {
    background-image: url(/icons/saveclose.png);
}
.x-toolbar .button-save {
    background-image: url(/icons/save.png);
}

.x-toolbar .button-delete {
    background-image: url(/icons/delete.png);
}

.x-toolbar .button-email {
    background-image: url(/icons/email-dealer.png);
}

.x-toolbar .button-email-technician {
    background-image: url(/icons/email.png);
}

.x-toolbar .button-previous {
    background-image: url(/icons/previous.png);
}

.x-toolbar .button-export {
    // background-image: url(/icons/export.png);
	background-image: url(/icons/export-disabled.png);
}

.x-toolbar .button-report {
    background-image: url(/icons/report.png);
}

.x-toolbar .button-print {
    // background-image: url(/icons/print.png);
	background-image: url(/icons/print-disabled.png);
	color:#fff;
}

.x-toolbar .button-new-dealer {
    background-image: url(/icons/new-dealer.png);
}

.x-toolbar .button-pdf {
    background-image: url(/icons/pdf.png);
}
.x-toolbar .history {
    background-image: url(/icons/history.png);
}

.x-toolbar .email-user {
    background-image: url(/icons/email-user.png);
}

.x-toolbar .button-generate {
    background-image: url(/icons/generate.png);
}

.x-toolbar .button-approval {
    background-image: url(/icons/success_small.png);
}

.x-toolbar .button-test {
    background-image: url(/icons/test.png);
}

.x-toolbar .button-tools {
    background-image: url(/icons/settings_black_border.png);
}

.x-toolbar .button-genrateOrder {
    background-image: url(/icons/orderService.svg);
}

.x-toolbar .button-generatePurchase{
	background-image: url(/icons/r-purchase.png);
	height: 20px;
}

.x-toolbar .button-history{
	background-image: url(/icons/historyCalendar.png);

}

.x-toolbar .button-outlook,
//.x-toolbar .button-export,
//.x-toolbar .button-report,
//.x-toolbar .button-print,
.x-toolbar .history,
.x-toolbar .email-user
{
	pointer-events: none;
	cursor: not-allowed;
	opacity: .85;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.x-toolbar .button-back {
    background: url(/icons/back.png) no-repeat center;
		display: inline;
		padding-left: 20px;
}

.tag-hidden {
  visibility: hidden;
}

.contact-dialog
{
	.dialog-header{
		text-align: center;
        color: #f5f5f5;
        font-size: 14px;
		padding: 5px;
		height: 27px;
        background-color: #828990;
	}
	.dialog-body{
		padding: 0px;
		background-color: #eee;


	}

	.x-form-panel{
		padding: 10px;
		background-color: #eee;
	}
}

.panel-header {
    text-align: left;
    border-bottom: 1px solid lightgray;
    font-size: 18px;
    color: #004990;
    padding: 3px 10px;
}

.border-picturesagent {
    border-right: 1px solid lightgray;
}
